{% extends "_base.html" %}
{% block content %}

<h1>Welcome to FlaskTask</h1>
<h3>Please login to access your task list</h3>

<form action="/" method="post">
	<div class="input-group">
		<label for="name">Username:</label>
		<input type="text" id ="username" name="username" value="{{ request.form.username }}">
	</div>
	<div class="input-group">
		<label for ="mail">Password:</label>
		<input type="password" name="password" id="password" value="{{ request.form.password }}"/>
	</div>
	<div>
		<button type="submit">Login</button>
	</div>
</form>

<p><em>Use 'admin' for he username and password for now</em></p>

{% endblock %}
